<div class="col-md-12">

    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-white h3">

                </div>
                <div class="card-body">
                    <h3 class="h3">
                        {{ 'Contact us' | uppercase }}
                    </h3>
                    <hr>
                    <div class="card-text">
                        <p>
                            <i class="fas fa-map-marker-alt"></i> 35245- Mountain Valley New York USA
                        </p>
                        <p>
                            <i class="fas fa-envelope"></i> info@example.com | cod@example.com
                        </p>
                        <p>
                            <i class="fas fa-phone"></i> +1234567891 | +100007850000
                        </p>
                    </div>

                    <div>
                        <h4 class="h4 text-danger">Follow us</h4>

                        <div class="row">
                            <div class="col-md-12">
                                <a href="#"><i class="fab fa-facebook text-danger fa-2xl p-2"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g text-danger fa-2xl p-1"></i></a>
                                <a href="#"><i class="fab fa-instagram text-danger fa-2xl p-3"></i></a>
                                <a href="#"><i class="fa-brands fa-youtube text-danger fa-2xl p-2"></i></a>
                                <a href="#"><i class="fa-brands fa-pinterest text-danger fa-2xl p-2"></i></a>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="bg-dark text-white pt-3">

                </div>
            </div>
        </div>

    </div>

</div>