<div class="row">
    <div class="col-md-12">
        <h3 class="h3">
            Platforms
        </h3>
        <hr>

        <div>
            <form action="">
                <input type="text" class="form-control" placeholder="Search..." name="txtSearch"
                    [(ngModel)]="txtSearch">
            </form>

        </div>
    </div>
</div>


<div class="row mt-5">

    <div class="col-md-4 mb-3 col-sm-12" *ngFor="let platform of platformList 
    | filter:txtSearch 
    | paginate: { itemsPerPage: 10, currentPage: currentPage}
    ">
        <div class="card white-text shadow-lg rounded">
            <div class="card-body"
                [ngStyle]="{'color': platform.color == '#fff' ? '#000000' : '#fff', 'background-color': platform.color }">
                <h5 class="card-title">{{platform.name}}</h5>
                <h6 class="card-subtitle mb-2 ">{{platform.project_count}} Projects</h6>
                <p class="card-text">{{platform.default_language}}</p>
                <a href="{{platform.homepage}}"
                    [ngStyle]="{'color': platform.color == '#fff' ? '#000000' : '#fff'}">{{platform.homepage}}</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-4 offset-md-4 mb-7">
            <pagination-controls (pageChange)="currentPage = $event" class="my-pagination"></pagination-controls>
        </div>
    </div>
</div>